import(jaspBase)
import(methods)
import(Rcpp)
import(rstantools)
importFrom(RcppParallel,RcppParallelLibs)
export(AnalyzeAttributePlan)
export(CreateAttributePlan)
export(CreateVariablePlan)
export(AnalyzeVariablePlan)
export(DecideVariableLots)
export(BayesianSampling)
export(BayesianSSMforAS)
export(bayesianSSMforAS)
importFrom(rlang,.data)
useDynLib(jaspAcceptanceSampling, .registration = TRUE)
export(checkHypergeom)
export(checkPdErrors)
export(getPlanValues)
export(getPlan)
export(assessPlan)
export(getSummary)
export(getOCCurve)
export(getAOQCurve)
export(getATICurve)
export(getASNCurve)
